---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="container-fluid d-flex flex-column vh-100">
		<div class="row mb-3 mt-3">
			<div class="col-12 col-md-6 mb-3">
				<div id="topLeft"></div>
			</div>
			<div class="col-12 col-md-6 text-end topright">
				<a href="https://github.com/loissascha" target="_blank"><i class="nf nf-cod-github"></i></a>
				<a href="mailto:sascha.loishandl@gmail.com"><i class="nf nf-cod-mail"></i></a>
			</div>
		</div>
		<div class="row flex-grow-1 mb-3 d-flex align-items-center">
			<div class="col-12">
				<div class="row">
					<div class="col-12 col-sm-8 col-lg-7 offset-lg-2">
						<h1>Welcome.</h1>
						<p>
							I'm Sascha Loishandl, a versatile software developer based in Austria.
							With a strong foundation in web development, I also bring expertise in desktop application development,
							database and software architecture, game development, Linux server management and many more. 
						</p>
						<p>
							Feel free to explore my released games on <a href="https://saschalois.itch.io/" target="_blank">itch.io</a>
							and <a href="https://store.steampowered.com/search/?developer=Lois" target="_blank">Steam</a>.	
						</p>
						<p>
							I'm an advocate for open-source software.
							You can find my contributions and projects on my <a href="https://github.com/loissascha" target="_blank">GitHub</a> profile.	
						</p>
					</div>
					<div class="col-12 col-sm-4 col-lg-3">
						<h2>Projects</h2>
						<ul>
							<li>
								<h5><a href="" target="_blank">MySql Manager</a></h5>
								<small>Management tool for MySql databases either local or over the internet.</small>
							</li>
							<li>
								<h5><a href="" target="_blank">CPU Benchmarking Tool</a></h5>
								<small>CPU Benchmarking tool. Mainly created with Linux in mind but works on every system.</small>
							</li>
							<li>
								<h5><a href="" target="_blank">Dotnet + Astro Template</a></h5>
								<small>Template which contains web api written in dotnet 8 and an Astro implementation of the authentication for the api.</small>
							</li>
							<li>
								<h5><a href="" target="_blank">NixOS-Configuration</a></h5>
								<small>My NixOS configuration files.</small>
							</li>
							<li>
								<h5><a href="" target="_blank">Hells Last Stand</a></h5>
								<small>My latest game. Created during the GDTV 2024 Game Jam.</small>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row flex-item mb-3">
			<div class="col-6">
			</div>
			<div class="col-6" style="position: relative;">
				<div id="bottomRight"></div>
			</div>
		</div>
	</div>
</Layout>
<style>
	h2 {
		background:  orange;
		padding: 10px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	
	ul {
		list-style: none;
	}
	
	li {
		margin-top: 15px;
	}
	
	a {
		color: white;
		text-decoration: none;
		font-weight: bold; 
	}
	
	.topright {
		font-size: 2.5rem;
	}
	
	#topLeft {
		position: absolute;
		width: 20vw;
		height: 10vh;
		border-top: 15px solid orange;
		border-left: 15px solid orange;
		border-top-left-radius: 25px;
	}
	
	#bottomRight {
		position: absolute;
		width: 20vw;
		height: 10vh;
		border-bottom: 15px solid orange;
		border-right: 15px solid orange;
		border-bottom-right-radius: 25px;
		transform: translateY(-100%);
		right: 10px;
	}
</style>