---
export function getStaticPaths() {
    return [
        {params: { project: 'mysqlManager' }},
        {params: { project: 'cpuBenchmarkTool' }}
    ];
}

const { project } = Astro.params;

---

<h1>Project {project}</h1>