---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} showBackButton={true}>
    <div class="col-12">
        <div class="container">
            <h1>{frontmatter.title}</h1>
            <slot/>
        </div>
    </div>
</Layout>