---
import Layout from "./Layout.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Layout title={title} showBackButton={true}>
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-7 offset-lg-0 col-xl-7 offset-xl-1 col-xxl-6 offset-xxl-2 mb-4">
        <slot/>
    </div>
</Layout>